---
import Layout from '../layouts/Layout.astro';
import HeaderGrid from '../components/HeaderGrid.astro';
import SectionGrid from '../components/SectionGrid.astro';
import HeaderCreative from '../components/HeaderCreative.astro';
import NavGrid from '../components/NavGrid.astro';

---
<script>
	

</script>

<Layout title="Nivek Studio">
	<main>
		<NavGrid></NavGrid>

		<HeaderCreative></HeaderCreative>
		
		<SectionGrid></SectionGrid>
	</main>
</Layout>

<style>
	main{
		overflow: hidden;
	}
</style>
