---
import Layout from '../layouts/Layout.astro';
import HeaderGrid from '../components/HeaderGrid.astro';
import SectionGrid from '../components/SectionGrid.astro';

---
<script>
	

</script>

<Layout title="Nivek Studio">
	<main>
		<HeaderGrid></HeaderGrid>
		<SectionGrid></SectionGrid>
	</main>
</Layout>

<style>
	
</style>
