---

---
    <section class="h-screen flex flex-col justify-between sm:w-full sm:overflow-hidden relative bg-cover">
        <div class="absolute z-20 w-full text-center flex flex-col top-40 px-5 gap-5">
            <h1 class=" text-6xl">Nivek <strong class="text-[#455858]">Studio</strong></h1>
            <p class="lg:text-2xl text-lg">Protege tu <strong class="text-[#455858]">marca</strong> y asegura el futuro de tu negocio.</p>
        </div>

        <div class="absolute z-20 w-full text-center flex flex-col-reverse sm:flex-row justify-center items-center bottom-14 gap-5">
            <a class="h-10 w-48 flex justify-center items-center font-medium text-lg outline outline-2 outline-[#455858]  rounded bg-[#455858]/20 backdrop-blur-3xl hover:bg-[#455858] text-[#455858] hover:text-white duration-200" href="#">Registra tu Marca</a>
            <a class="h-10 w-48 flex justify-center items-center font-medium text-lg outline outline-2 outline-[#455858]  rounded bg-[#455858]/20 backdrop-blur-3xl hover:bg-[#455858] text-[#455858] hover:text-white duration-200" href="#">Catálogo</a>
        </div>

        <div class="absolute h-full z-10 top-0 bottom-0 w-full">
            <span class="h-full  w-full absolute bg-white/50 bg-cover left-0"></span>
            <video class=" object-top lg:object-center object-cover h-full w-full" autoplay muted loop src="/work_space.webm"></video>
        </div>
    </section>