---
import CardPopUp from "./CardPopUp.astro";
import MKTcard from "./VisualCard.astro";

---


<section id="marketing" class="relative flex flex-col justify-end items-center gap-1 z-0 h-screen w-full bg-[url(https://nivekstudio.com/1.1770e3b3.jpg)] bg-right-top top-0" id="marketing">
    <span class="bg-white/40 h-full w-full absolute"></span>
    <h2 class="top-20 text-5xl absolute text-center">Digital Marketing</h2>
    <CardPopUp
    title="Contenido Gráfico"
    >
        <svg  width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M7 15v-4a2 2 0 0 1 4 0v4"></path>
            <path d="M7 13l4 0"></path>
            <path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"></path>
         </svg>
    </CardPopUp>
    <CardPopUp
    title="Campañas"
    >
        <svg  width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M7 15v-4a2 2 0 0 1 4 0v4"></path>
            <path d="M7 13l4 0"></path>
            <path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"></path>
         </svg>
    </CardPopUp>
    <CardPopUp
    title="Community Management"
    >
        <svg  width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M7 15v-4a2 2 0 0 1 4 0v4"></path>
            <path d="M7 13l4 0"></path>
            <path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"></path>
         </svg>
    </CardPopUp>
    <CardPopUp
    title="SEO"
    >
        <svg  width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M7 15v-4a2 2 0 0 1 4 0v4"></path>
            <path d="M7 13l4 0"></path>
            <path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"></path>
         </svg>
    </CardPopUp>
    <CardPopUp
    title="Google Adworks"
    >
        <svg  width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M7 15v-4a2 2 0 0 1 4 0v4"></path>
            <path d="M7 13l4 0"></path>
            <path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"></path>
         </svg>
    </CardPopUp>
    <CardPopUp
    title="Mailing"
    >
        <svg  width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            <path d="M7 15v-4a2 2 0 0 1 4 0v4"></path>
            <path d="M7 13l4 0"></path>
            <path d="M17 9v6h-1.5a1.5 1.5 0 1 1 1.5 -1.5"></path>
         </svg>
    </CardPopUp>
</section>

<style>
    
</style>