---

---

<script>

</script>

<div class="navContainer">
    <nav>
        <div class="navLogo">
            <a id="textLogo" href="#">
                Logo
            </a>
        </div>
        <ul id="menu">
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#about">About Us</a>
            </li>
        </ul>
        <div class="btnDiv">
            <svg id="openBtn" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 6l16 0"></path>
                <path d="M4 12l16 0"></path>
                <path d="M4 18l16 0"></path>
                </svg>
            <svg id="closeBtn" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M18 6l-12 12"></path>
                <path d="M6 6l12 12"></path>
                </svg>
        </div>
        <div class="callToAction">
            <a href="#">Contact</a>
        </div>
    </nav>
</div>

<style>
    
    :root{
		--margin-mobile: 5%;
		--margin-desktop: 10%;
    }

    @media (max-width: 48rem) {
        .navContainer{
            display: grid;
            grid-column: 1/-1;
            grid-row: 1/2;
            height: 5rem;
            width: 100%;
            position: fixed;
            z-index: 3;
            grid-template-columns: var(--margin-mobile) 1fr var(--margin-mobile);
            background-color: var(--primary-overlay-two);
            backdrop-filter: blur(0.5rem);
        }
        nav{
            grid-column: 2/3;
            grid-row: 1/2;
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;
        }
        .navLogo{
            font-size: 2rem;
            z-index: 5;
        }
        #textLogo{
            color: var(--primary-color-two);
            transition: color 500ms;
        }
        .btnDiv{
            height: 2.5rem;
            width: 2.5rem;
            position: relative;
        }
        #openBtn, #closeBtn {
            position: absolute;
            transition: transform color 400ms;
            color: var(--primary-color-two);
        }
        #openBtn{
            transform: scale(1);
        }
        #closeBtn{
            transform: scale(0);
        }
        #menu{
            position: absolute;
            height: 100vh;
            width: 100%;
            inset: 0;
            display: grid;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            background-color: var(--primary-color-two);
            justify-items: center;
            transform: translateX(100%);
            transition: transform 400ms;
        }
        #menu li {
            height: max-content;
            width: max-content;
        }
        #menu li a {
            color: var(--secundary-color);
            font-size: 1.5rem;
            font-weight: 500;
            display: block;
            padding: 1rem 2rem;
        }
        .callToAction{
            display: none;
        }
    }
</style>