---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	const openBtn = document.getElementById('openBtn');
	const closeBtn = document.getElementById('closeBtn');
	const menu = document.getElementById('menu');
	const navLogo = document.getElementById('textLogo');

	const openMenu = () =>{
		closeBtn.style.transform = 'scale(1)';
		closeBtn.style.color = 'var(--secundary-color)';
		navLogo.style.color = 'var(--secundary-color)';
		openBtn.style.transform = 'scale(0)';
		menu.style.transform = 'translateX(0)';
	}
	const closeMenu = () =>{
		openBtn.style.transform = 'scale(1)';
		closeBtn.style.transform = 'scale(0)';
		closeBtn.style.color = 'var(--primary-color-two)';
		navLogo.style.color = 'var(--primary-color-two)';
		menu.style.transform = 'translateX(100%)';
	}

	openBtn.addEventListener('click', openMenu);
	closeBtn.addEventListener('click', closeMenu);
	menu.addEventListener('click', ()=>{
		if(closeBtn.style.transform === 'scale(1)' && openBtn.style.transform === 'scale(0)')
		{
			closeMenu();
		}
	});
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary-color-one: rgb(68 88 87);
		--secundary-color-one: rgb(127 145 144);
		--bg-one:  rgb(68 88 87 / 20%);
		--primary-color-two: rgb(48 65 247);
		--secondary-color-two: rgb(82 96 244);
		--primary-overlay-two: rgb(48 65 247 /15%);
		--current-color: #333;
		--secundary-color: #FFF;
		--light-overlay: rgb(255 255 255 / 30%);
	}

	*{
		font-family: 'Poppins',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;
	}
</style>
